.bpen-drawer{
  position:fixed;
  top: 0px;
  height: 80%;
  width: 225px;
  background-color: #222;
  z-index:1000;
  border-bottom: 2px red ;
  margin-top:-1 px;
}

.bpen-drawer-left{
  left:-225px;
}

.bpen-drawer-right{
  right:-225px;
  border-left: 2px solid #ccc;
}

.bpen-drawer-left.expanded{
  left: 0px;
  border-right: 2px solid red;
}

.bpen-drawer-right.expanded{
  right:0px;
}

.bpen-toggle-pad {
  position:absolute;
  top: 0px;
  width: 25px;
  height:100%;
  background-color:#fff;
  color:#000;
  text-align:center;
  cursor:pointer;
   background: url(../images/icon-menu_red.svg) no-repeat center center;
   background-size: 30px 30px;
  -webkit-transition: 3s ease;
  -moz-transition: 3s ease;
  -o-transition: 3s ease;
  -ms-transition: 3s ease;
  transition: 0.5s ease;
}

.bpen-toggle-pad-left{
  right: -30px;
  text-align: center;
}

.bpen-toggle-pad-right{
  left : -30px;
  text-align: center;
}

.bpen-toggle-pad-left.expanded{
  right:0px;

}

.bpen-toggle-pad-right.expanded{
  left:0px;
}

.bpen-drawer-header{
  position:relative;
  height: 60px;
  width:100%;
  top:0px;
  left:0px;
  background: url(../images/cruse_logo_big.png) no-repeat center center;
  background-color: #000000;  
}


.bpen-drawer-items{
    list-style-type:  none;
    padding-left: 0px;
    width:100%;
    margin-top:0px;
}

.bpen-drawer-items li{
  padding: 7px 0px 7px 0px;
  width:100%;
  margin: -1px 0px 0px 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor:pointer;
  font-size:1.5em;
}

.bpen-drawer-items li a{
  display:block;
  text-decoration:none;
  color : #FFF;
  padding-left:20px;
  width:100%;
}