html, body {
  overflow-x: hidden;
}

/* Lists */
ul {
  margin: 0;
  padding: 0;
}

/* Container */
#container {
  position: relative;
  padding: 10px 10px;
  padding-top: 10px;
}

/* Menu Button */
.menu-btn {
/*  width: 150px; */
/*  padding: 10px; */
/*  margin-bottom: 30px; */
  background: transparent;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  border: 0px;
  font-family: Verdana, sans-serif;
  font-size: 30pt;

}
.menu-btn:hover {
  opacity: 0.6;
}
